@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  font-family: Lato, sans-serif;
  font-weight: 300;
  color: white;
  background-color: teal;

}

/* Hamburger Menu */

#hamnav {
  width: 100%;
  height: auto;
  background: teal;
}

/* Menu items*/
#hamitems { display: flex; }
#hamitems a {
  flex-grow: 1;
  flex-basis: 0;
  padding: 10px;
  color: white;
  text-decoration: none;
  text-align: center;
  
}
#hamitems a:hover { background: teal; }

#hamnav label, #hamburger { display: none; }


/* Tablet / Mobile */
@media screen and (max-width: 769px){
  #hamitems a {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-top: 1px solid teal;
  }
 
  #hamnav label { 
    display: inline-block; 
    color: white;
    background: teal;
    font-style: normal;
    font-size: 1.2em;
    padding: 10px;
  }

  #hamitems { display: none; }
  #hamnav input:checked ~ #hamitems { display: block; }
}



/* headings and logo */
  
h1 {
  font-size: 28px;
}

h2 {
  font-size: 26px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 25px;
  padding-bottom: 10px;
}

h1, h2 {
  font-family: Oswald, sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  color:white;
}

#logo {
  float: left;
  font-size: 120%;
  color: white;
  text-align: center;
  margin-bottom: 25px;
  height: auto;
  width: 100%;
  position: relative;

  }

#hamnav {
  font-size: 150%;
  letter-spacing: 4px;
  height: auto;
  width: 100%;
  overflow: hidden;
  position: relative;
  
}

#hamnav, #logo {
  line-height: 25px;  
}

#hamnav li {
  float: right;
  list-style-type: none;
  margin-right: 30px;
  text-align: center;
}

#hamnav a {
  text-decoration: none;
  color: inherit;
  text-align: center;

}

#hamnav a:hover {
  border-bottom: 1px solid white;
}


/* Active Nav */

.active {
  border-bottom: 1px solid white;
}


/* Fade in text at top of page */

#hero-outer {
  height: auto;
  width: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 25px;
}

#cover-text, #cover-text h2 {
  color: #fff;
  text-align: center;
  animation: fadeIn 5s;
  text-transform: uppercase;
  font-size: 24px;
  padding-top: 0%;
}

@keyframes fadeIn {
  0% { opacity: 0.2; }
  100% { opacity: 1; }
}


/* Top Gallery */

.gallery-section {
  height: auto;
  width: 50%;
  overflow: hidden;
  position: relative;
  margin: auto;
  margin-top: 25px;
}

.gallery-section img {
  float: left;
  object-fit: fill;
  margin: 5px;
  border-radius: 5%;
  width: 300px;
  height: 300px;
  display: inline-block;
  justify-content: center;
}



/* About Sweet Noni */

img {
  float: left;
  width: 50%;
  max-width: 300px;
  height: auto;
  object-fit: fill;
  margin: 5px;
  border-radius: 5%;  
}


/* Heart arrows */

#heart-arrows {
  height: 100px;
  width: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
  padding-top: 50px;

}

/* Heart arrows animation */

.blink_me {
  animation: blinker 5s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

/* Intro and Description */

#intro {
  height: auto;
  width: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 26px;
}

/* About Sweet Noni */


div.center {
  display: flex;
  justify-content: center;
  }

  div p {
    padding: 5px 25% 0% 25%;
  }

/* Book Now Button and Register Interest Button */

.book-now-button, .register-interest-button {
  background-color: white;
  border: none;
  color: teal;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  animation: glowing 1300ms infinite;
  margin-top: 25px;
  margin-bottom: 25px;
}



.book-now-button:hover, .register-interest-button {
  background-color: white;
  color: teal;
}

/* Book Now Button Glow Effect*/

@keyframes glowing {
  0% {
    background-color: white;
    box-shadow: 0 0 3px white;    
    
  }
  50% {
    background-color: white;
    box-shadow: 0 0 10px white;
  }
  100% {
    background-color: white;
    box-shadow: 0 0 3px white;
  }
}

/* Courses Boxes*/

#courses {
  width: 600px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 60%;
  margin: auto;
  padding: 25px;
  
}

#courses div {
  color: #fafafa;
  background-color: rgba(60, 60, 60, 0.6);
  width: 100%;

  float: left;
  padding: 10px 0 0 10px;
  text-align: center;
  border: 2px solid white;
  box-sizing: border-box;
  border-radius: 2.5%;
  margin: auto;
  
}


/* Booking Form */

.form-section {
  height: auto;
  width: 50%;
  overflow: hidden;
  position: relative;
  margin: auto;
  margin-top: 50px;
  padding: 50px 25px 0px 25px;
}


.signup-form {
  color: #fff;
  background-color: rgba(60, 60, 60, 0.6);
  max-width: 80%;
  position: absolute;
  padding: 25px;
  border-radius: 2.5%;
  height: auto;
  width: 100%;
  overflow: hidden;
  position: relative;
  margin: auto;
  text-align: center;
  }

.signup-form > h2 {
  color: #fafafa;
  margin-bottom: 20px;
}

.text-input {
  background: transparent;
  color: #fafafa;
  width: 100%;
  height: 25px;
  margin: 5px 0 20px 0;
  border-bottom: 1px solid #fafafa;
  border-radius: 2px;
}



/* Footer and Social icons */


footer {
  height: auto;
  width: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;

}

.social-networks {
  text-align: center;
  height: auto;
  width: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.social-networks > li {
  display: inline;
}

.social-networks i {
  font-size: 150%;
  margin: 1%;
  padding: 5%;
  color: white;
}


/* Media queries 769px and down */

@media screen and (max-width: 769px) {
  #menu {
      clear: left;
      float: left;
      margin-left: 30px;
      margin-bottom: 20px;
      line-height: 25px;
  } 

  #cover-text {
      left: 0;
  }

}

/* Responsive layout - Mobile - Adjust Fade in text at top of page */
@media (max-width: 769px) {
  
#cover-text, #cover-text h2 {
  font-size: 14px;
  text-align: center;
  }
  
.column {
  width: 400px;
}

.column img {
  float: left;
  object-fit: fill;
  margin: 5px;
  border-radius: 5%;
  width: 150px;
  height: 150px;
}
  
#intro {
  font-size: 14px;
}

h2 {
  font-size: 16px;
}

.form-section {
  height: auto;
  width: 75%;
  overflow: hidden;
  position: relative;
  margin: auto;
  margin-top: 50px;
  padding: 50px 25px 0px 25px;
}
  
#courses {
  width: 80%;  
}

.gallery-section img {
  width: 125px;
  height: 125px;
  margin: 0% 20% 0% 20%;
  margin-bottom: 5px;
}

}



