@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  font-family: Lato, sans-serif;
  font-weight: 300;
  color: white;
  background-color: teal;

}

/* Hamburger Menu */

#hamnav {
  width: 100%;
  background: teal;
}

/* (B) HORIZONTAL MENU ITEMS */
#hamitems { display: flex; }
#hamitems a {
  flex-grow: 1;
  flex-basis: 0;
  padding: 10px;
  color: white;
  text-decoration: none;
  text-align: center;
}
#hamitems a:hover { background: teal; }

#hamnav label, #hamburger { display: none; }

/* Tablet / Mobile */
@media screen and (max-width: 768px){
  #hamitems a {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-top: 1px solid teal;
  }
 
  #hamnav label { 
    display: inline-block; 
    color: white;
    background: teal;
    font-style: normal;
    font-size: 1.2em;
    padding: 10px;
  }

  #hamitems { display: none; }
  #hamnav input:checked ~ #hamitems { display: block; }
}



/* headings and logo */
  
h1 {
  font-size: 30px;
}

h2 {
  font-size: 28px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 25px;
  padding-bottom: 10px;
}

h1, h2 {
  font-family: Oswald, sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  color:white;
}

#logo {
  float: left;
  font-size: 150%;
  margin-left: 30px;
  color: white;
}

#hamnav {
  font-size: 150%;
  letter-spacing: 4px;  
  
}

#hamnav, #logo {
  line-height: 75px;  
}

#hamnav li {
  float: right;
  list-style-type: none;
  margin-right: 30px;
}

#hamnav a {
  text-decoration: none;
  color: inherit;

}

#hamnav a:hover {
  border-bottom: 1px solid white;
}



#hero-outer {
  height: 50px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

/* Fade in text at top of page */
#cover-text, #cover-text h2 {
  color: #fff;
  text-align: center;
  animation: fadeIn 5s;
  text-transform: uppercase;
  font-size: 28px;
  padding-top: 0%;
}

@keyframes fadeIn {
  0% { opacity: 0.2; }
  100% { opacity: 1; }
}


/* Top Gallery */

.column {
  float: left;
  width: 33.33%;
  display: flex;
  justify-content: center;

  overflow: hidden;
  position: relative;
  height: 300px;
  width: 100%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column img {
  float: left;
  width: 50%;
  max-width: 300px;
  height: auto;
  object-fit: fill;
  margin: 5px;
  border-radius: 5%;
  height: 300px;
  width: 100%;

}

#cakes {
  height: 300px;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  margin: 5px;
  float: left;

}


img {
  float: left;
  width: 50%;
  max-width: 300px;
  height: auto;
  object-fit: fill;
  margin: 5px;
  border-radius: 5%;
  
  
}


/* Heart arrows */

#heart-arrows {
  height: 100px;
  width: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
  padding-top: 50px;

}

/* Heart arrows animation */

.blink_me {
  animation: blinker 5s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

/* Intro and Description */

#intro {
  height: auto;
  width: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 26px;
}

/* About Sweet Noni */


div.center {
  display: flex;
  justify-content: center;
  }

  div p {
    padding: 5px 25% 0% 25%;
  }

/* Book Now Button */

.book-now-button {
  background-color: white;
  border: none;
  color: teal;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  animation: glowing 1300ms infinite;
}



.book-now-button:hover {
  background-color: white;
  color: teal;
}

/* Book Now Button Glow Effect*/

@keyframes glowing {
  0% {
    background-color: white;
    box-shadow: 0 0 3px white;
  }
  50% {
    background-color: white;
    box-shadow: 0 0 10px white;
  }
  100% {
    background-color: white;
    box-shadow: 0 0 3px white;
  }
}


/* Social icons */

#footer {
  height: 100px;
}

#footer h2 {
  text-decoration: underline;
}

.social-networks {
  text-align: center;
  margin: 0 auto;
  height: 100px;
}

.social-networks > li {
  display: inline;
}

.social-networks i {
  font-size: 200%;
  margin: 1%;
  padding: 1%;
  color: white;
}


/* Media queries 900px and down */

@media screen and (max-width: 1200px) {
  #menu {
      clear: left;
      float: left;
      margin-left: 30px;
      margin-bottom: 20px;
      line-height: 25px;
  } 

  #cover-text {
      left: 0;
  }


  #cakes {
    column-count: 2;
  }

}

@media screen and (max-width: 800px) {
  img {
    max-width: 100px;
    height: auto;

  }
  
}